In [1]:
pip install pandas

Requirement already satisfied: pandas in c:\users\jos\anaconda3\lib\site-packages (1.4.4)
Requirement already satisfied: numpy>=1.18.5 in c:\users\jos\anaconda3\lib\site-packages (from pandas) (1.21.5)
Requirement already satisfied: pytz>=2020.1 in c:\users\jos\anaconda3\lib\site-packages (from pandas) (2022.1)
Requirement already satisfied: python-dateutil>=2.8.1 in c:\users\jos\anaconda3\lib\site-packages (from pandas) (2.8.2)
Requirement already satisfied: six>=1.5 in c:\users\jos\anaconda3\lib\site-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

In [2]:
import numpy as np

In [3]:
import pandas as pd

In [4]:
a=[2,3,4,5,6]

In [5]:
a

[2, 3, 4, 5, 6]

In [6]:
b=np.array(a)
b

array([2, 3, 4, 5, 6])

In [7]:
c=np.array([[1,0,0],[0,1,0],[0,0,1]])
c

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [8]:
c.shape

(3, 3)

In [54]:
c[1:3,0:2][1]

array([0, 0])

In [9]:
np.zeros((2,3))

array([[0., 0., 0.],
       [0., 0., 0.]])

In [13]:
c[2][2]

1

In [16]:
np.ones((2,3))

array([[1., 1., 1.],
       [1., 1., 1.]])

In [75]:
e=np.random.randint(12,size=(2,3))
e

array([[0, 9, 1],
       [1, 6, 7]])

In [70]:
d=np.arange(8)
d

array([0, 1, 2, 3, 4, 5, 6, 7])

In [68]:
d.reshape(8,-1)

array([[0],
       [1],
       [2],
       [3],
       [4],
       [5],
       [6],
       [7]])

In [76]:
np.transpose(e)

array([[0, 1],
       [9, 6],
       [1, 7]])

In [84]:
f=[1,2,3,4,5,6]
np.asarray(f)

array([1, 2, 3, 4, 5, 6])

In [85]:
np.asmatrix([f[0:3],f[3:6]])

matrix([[1, 2, 3],
        [4, 5, 6]])

In [88]:
np.resize(f,(3,3))

array([[1, 2, 3],
       [4, 5, 6],
       [1, 2, 3]])

In [97]:
a=np.array([[1,2,3],[4,5,6]])
b=np.array([[7,8,9],[10,11,12]])

In [104]:
print(a)

[[1 2 3]
 [4 5 6]]

In [103]:
b

array([[ 7,  8,  9],
       [10, 11, 12]])

In [105]:
np.append(a,b,axis=1)

array([[ 1,  2,  3,  7,  8,  9],
       [ 4,  5,  6, 10, 11, 12]])

In [107]:
np.insert(a,1,0,axis=0)

array([[1, 2, 3],
       [0, 0, 0],
       [4, 5, 6]])

In [108]:
b.flatten()

array([ 7,  8,  9, 10, 11, 12])

In [111]:
a={"age" :[12,23,45,65], "year" : [2000,2022,2014,2019]}

In [115]:
b=pd.DataFrame(a)
b

   age  year
0   12  2000
1   23  2022
2   45  2014
3   65  2019

In [122]:
b['age'][1:3]

1    23
2    45
Name: age, dtype: int64

In [120]:
b.age[0]

12

In [128]:
c=b.groupby('age').mean()

In [129]:
c

       year
age
12   2000.0
23   2022.0
45   2014.0
65   2019.0

In [130]:
pip install os

Note: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement os (from versions: none)
ERROR: No matching distribution found for os

In [131]:
import os

In [134]:
os.getcwd()

'C:\\Users\\JOS\\Documents'

In [136]:
os.chdir('c:\\Users\\JOS\\Downloads')

In [137]:
df=pd.read_csv("sample_submission.csv")

In [138]:
df

     PassengerId  Transported
0        0013_01        False
1        0018_01        False
2        0019_01        False
3        0021_01        False
4        0023_01        False
...          ...          ...
4272     9266_02        False
4273     9269_01        False
4274     9271_01        False
4275     9273_01        False
4276     9277_01        False

[4277 rows x 2 columns]

In [142]:
df.head(10)

  PassengerId  Transported
0     0013_01        False
1     0018_01        False
2     0019_01        False
3     0021_01        False
4     0023_01        False
5     0027_01        False
6     0029_01        False
7     0032_01        False
8     0032_02        False
9     0033_01        False

In [141]:
df.tail()

     PassengerId  Transported
4272     9266_02        False
4273     9269_01        False
4274     9271_01        False
4275     9273_01        False
4276     9277_01        False